<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>El Rincón del Artesano</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/furniture-store-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/furniture-store-32x32.png"/>
        <link rel="icon" type="image/png" sizes="64x64" href="/fav/furniture-store-64x64.png"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link href="/css/base.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="position-relative text-white">

            <nav class="navbar navbar-expand-lg navbar-dark color-nav px-4">
                <a class="navbar-brand" href="/">
                    <img height="50px" src="/img/rincon-artesano-logo.jpg" alt="El Rincón del Artesano Logo"/>
                </a>
                <section class="collapse navbar-collapse w-100 justify-content-center">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 font-family-main-nav">
                        <li class="nav-item"><a class="nav-link" href="/salas">Salas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dormitorio">Dormitorio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/comedor">Comedor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/oficina">Oficina</a></li>
                        <li class="nav-item"><a class="nav-link" href="/patioyexterior">Patio y Exterior</a></li>
                        <li class="nav-item"><a class="nav-link color-seccion-subtitulo" href="/sobrenosotros">Sobre Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contactenos">Contáctenos</a></li>
                    </ul>
                </section>
            </nav>

        </header>

        <main th:fragment="main">
            <section class="mt-5">
                <div class="container">
                    <div class="row align-items-center">
                        
                        <!-- Sobre nosotros -->
                        <div class="col-md-6 text-md-start text-center mb-4 mb-md-0">
                            <p class="mb-0">Sobre nosotros</p>
                            <h1 class="fw-bold font-family-banner color-seccion-subtitulo">
                                Ayudando a los clientes a <br> decorar sus espacios.
                            </h1>
                            <p class="font-family-parrafos" style="max-width: 500px;">
                                Somos una propuesta llena de inspiración en la naturaleza para llevarla a tu vida cotidiana y a tus espacios. 
                                En El Rincón del Artesano creemos que cada mueble debe ser una extensión de la belleza natural, combinando 
                                estilo, comodidad y funcionalidad.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <video width="500" height="350" controls>
                                <source src="/videos/G3_SC305_MN_AnuncioPromocional.mp4" type="video/mp4">
                                    Your browser does not support the <code>video</code> tag.
                            </video>
                        </div>
                        
                        <!-- Nuestra Misión -->
                        <section class="py-5 mt-5">
                            <div class="container text-center">
                                <p class="mb-0">Nuestra Historia</p>
                                <h2 class="fw-bold font-family-banner color-seccion-subtitulo">El Rincón del Artesano</h2>
                                <p class="font-family-parrafos mx-auto" style="max-width: 80%;">Somo una tienda de muebles costarricense que ha sido parte de la tradición artesanal local desde 2016 en la provincia de Cartago. Fundada por un artesano apasionado 
                                por la ebanistería, nuestra mueblería se ha destacado por la fabricación de muebles a medida, combinando técnicas tradicionales con innovaciones modernas. Desde 
                                nuestros inicios, hemos mantenido un compromiso firme con la calidad y la satisfacción de nuestros clientes.</p>
                                <p class="font-family-parrafos mx-auto" style="max-width: 80%;">Hemos crecido constantemente, integrando nuevas tecnologías y estilos para adaptarnos a las demandas del mercado actual sin  perder nuestra esencia artesanal. Cada 
                                pieza que fabricamos es un reflejo de la dedicación y el cuidado que ponemos en nuestro trabajo, utilizando materiales de alta calidad y técnicas que han sido 
                                perfeccionadas a lo largo de los años.</p>

                                <p class="font-family-parrafos mx-auto" style="max-width: 80%;">En la actualidad seguimos siendo un referente en la fabricación de muebles de alta calidad, ofreciendo productos únicos que reflejan la belleza y funcionalidad de la 
                                artesanía costarricense. Estamos orgullosos de tener un grupo de artesanos talentosos que comparten nuestra visión y compromiso con la excelencia. Nuestro objetivo es
                                continuar progresando y creciendo.</p>

                                <p class="font-family-parrafos mx-auto" style="max-width: 80%;">Además de nuestro compromiso con la calidad, también buscamos brindar un servicio al cliente excepcional. Consideramos que cada cliente es unico y tiene derecho 
                                a una atención individualizada para encontrar las soluciones de mobiliario que se ajusten mejor a sus necesidades y preferencias. Tanto si buscas una pieza exclusiva
                                para tu casa u opciones integrales para tu oficina, aquí podemos asistirte en la creación de ambientes que motiven y agraden.</p>

                                <p class="font-family-parrafos mx-auto" style="max-width: 80%;">En El Rincón del Artesano, la tradición convive con la innovación, y la calidad artesanal se une a la modernidad para ofrecerte lo mejor en mobiliario. Te invitamos a
                                descubrir nuestra colección y a formar parte de nuestra historia, una historia que sigue creciendo y evolucionando con cada pieza que creamos.</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

        </main>

        <footer th:fragment="footer" class="p-0.5 mt-5">

            <div class="color-nav text-white py-4">
                <div class="container">
                    <div class="row justify-content-center">

                        <!-- Empresa -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Empresa</h5>
                            <ul class="list-unstyled">
                                <li><a href="/sobrenosotros" class="font-family-main-subnav text-white text-decoration-none">Sobre Nosotros</a></li>
                                <li><a href="/garantias" class="font-family-main-subnav text-white text-decoration-none">Garantías y Políticas</a></li>
                            </ul>
                        </div>

                        <!-- Contáctenos -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Contáctenos</h5>
                            <p class="font-family-main-subnav mb-1">Cartago: Tejar contiguo a <br>la municipalidad del Guarco</p>
                            <p class="font-family-main-subnav mb-0">WhatsApp: +506 8374-6278</p>
                        </div>

                        <!-- Redes Sociales -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Redes Sociales</h5>
                            <p class="mb-0">
                                <i class="bi bi-facebook me-2"></i>
                                <a href="https://www.facebook.com/elrincondelartesanocr/?locale=es_LA" class="font-family-main-subnav text-white text-decoration-none">El Rincón del Artesano</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="color-primario">
                <p class="color-primario font-family-main-subnav lead text-center py-2 mb-0">[[#{plantilla.derechos}]] &COPY;</p>
            </div>

        </footer>

    </body>
</html>
