<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>El Rincón del Artesano</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/furniture-store-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/furniture-store-32x32.png"/>
        <link rel="icon" type="image/png" sizes="64x64" href="/fav/furniture-store-64x64.png"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link href="/css/base.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="position-relative text-white">

            <nav class="navbar navbar-expand-lg navbar-dark color-nav px-4">
                <a class="navbar-brand" href="/">
                    <img height="50px" src="/img/rincon-artesano-logo.jpg" alt="El Rincón del Artesano Logo"/>
                </a>
                <section class="collapse navbar-collapse w-100 justify-content-center">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 font-family-main-nav">
                        <li class="nav-item"><a class="nav-link" href="/salas">Salas</a></li>
                        <li class="nav-item"><a class="nav-link " href="/dormitorio">Dormitorio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/comedor">Comedor</a></li>
                        <li class="nav-item"><a class="nav-link color-seccion-subtitulo" href="/oficina">Oficina</a></li>
                        <li class="nav-item"><a class="nav-link" href="/patioyexterior">Patio y Exterior</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sobrenosotros">Sobre Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contactenos">Contáctenos</a></li>
                    </ul>
                </section>
            </nav>

        </header>

        <main th:fragment="main" class="container my-5">

            <h1 class="text-center font-family-seccion-titulo color-seccion-titulo">OFICINA</h1>
            <p class="text-center color-seccion-titulo"><small><a class="text-decoration-none color-seccion-titulo" href="/">Inicio</a> > Oficina</small></p>
            <hr class="full-width-hr">
            
            <!-- Sección Escritorios -->
            <div class="row align-items-center my-5">
                <div class="col-md-6 position-relative">
                    <div>
                        <img src="/img/escritorio-bg.png" style="width: 565px; height: 523px;" alt="background escritorios"/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-stack p-4 color-primario shadow text-center">
                        <h5 class="font-family-titulos">ESCRITORIOS</h5>
                        <p class="font-family-parrafos mt-3">Los escritorios son muebles funcionales diseñados para trabajar, estudiar o realizar actividades creativas.
                            Generalmente cuentan con una superficie plana y, en muchos casos, incluyen cajones, estantes o compartimentos para almacenamiento.</p>
                        <a href="/mesa_centro" class="btn btn-light btn-outline-dark mt-3">Ver Escritorios</a>
                    </div>
                </div>
            </div>

            <!-- Sección Estanterías -->
            <div class="row align-items-center my-5">
                <div class="col-md-6">
                    <div class="card-stack2 p-4 color-primario shadow text-center">
                        <h5 class="font-family-titulos">ESTANTERÍAS</h5>
                        <p class="font-family-parrafos mt-3">Las estanterías son muebles prácticos diseñados para organizar y exhibir objetos, como libros, decoraciones o herramientas.
                            Están compuestas por una estructura con múltiples niveles o estantes, disponibles en diversos tamaños, materiales y estilos para adaptarse a diferentes espacios. </p>
                        <a href="#" class="btn btn-light btn-outline-dark mt-3">Ver Estanterias</a>
                    </div>
                </div>
                <div class="col-md-6 position-relative text-end">
                    <div>
                        <img src="/img/estanteria-bg.png" style="width: 565px; height: 523px;" alt="background estanterías"/>
                    </div>
                </div>
            </div>
        </main>

        <footer th:fragment="footer" class="p-0.5 mt-5">

            <div class="color-nav text-white py-4">
                <div class="container">
                    <div class="row justify-content-center">

                        <!-- Empresa -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Empresa</h5>
                            <ul class="list-unstyled">
                                <li><a href="/sobrenosotros" class="font-family-main-subnav text-white text-decoration-none">Sobre Nosotros</a></li>
                                <li><a href="/garantias" class="font-family-main-subnav text-white text-decoration-none">Garantías y Políticas</a></li>
                            </ul>
                        </div>

                        <!-- Contáctenos -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Contáctenos</h5>
                            <p class="font-family-main-subnav mb-1">Cartago: Tejar contiguo a <br>la municipalidad del Guarco</p>
                            <p class="font-family-main-subnav mb-0">WhatsApp: +506 8374-6278</p>
                        </div>

                        <!-- Redes Sociales -->
                        <div class="col-md-4 mb-3">
                            <h5 class="font-family-main-nav text-uppercase">Redes Sociales</h5>
                            <p class="mb-0">
                                <i class="bi bi-facebook me-2"></i>
                                <a href="https://www.facebook.com/elrincondelartesanocr/?locale=es_LA" class="font-family-main-subnav text-white text-decoration-none">El Rincón del Artesano</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="color-primario">
                <p class="color-primario font-family-main-subnav lead text-center py-2 mb-0">[[#{plantilla.derechos}]] &COPY;</p>
            </div>

        </footer>

    </body>
</html>
