.font-family-parrafos{
  font-family: 'Lato-Regular', sans-serif;  
  font-size: 18px;
}
.font-family-titulos{
    font-family: 'Oswald-Regular', sans-serif; 
    font-size: 30px;
}
.font-family-subt{
    font-family: 'Oswald-Regular', sans-serif;  
    font-size: 20px;  
}
.font-family-main-nav{
    font-family: 'Oswald-Regular', sans-serif;  
    font-size: 20px;  
}
.font-family-main-subnav{
    font-family: 'Oswald-Regular', sans-serif;  
    font-size: 17px;  
}
.font-family-banner{
    font-family: 'Oswald-Regular', sans-serif;  
    font-size: 40px;
}
.font-family-banner2{
    font-family: 'Oswald-Regular', sans-serif;  
    font-size: 60px;
}
.font-family-seccion-titulo{
    font-family: 'Oswald-Regular', sans-serif; 
    font-size: 35px;
}
.color-nav{
    background-color: #33312b;
}
.color-primario{
    background-color: #caa924;
}
.color-secundario{
    background-color: #a18b37;
}
.color-categorias{
    color: #756a3c;
}
.color-subcategoriasbase{
    color: #33312b;
}
.color-subcategorias:hover{
    color:#caa924;
}
.color-seccion-titulo{
    color:#756a3c;
}
.color-seccion-subtitulo{
    color:#caa924;
}

.card-stack {
    position: relative;
}
.card-stack2 {
    position: relative;
}

.card-stack::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    background-color: #a18b37;
    z-index: -1;
}
.card-stack2::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: #a18b37;
    z-index: -1;
}

.btn-outline-dark {
    border: 2px solid #f5c304;
}
.btn-outline-dark:hover {
    border: 2px solid #f5c304;
    background-color: #f5c304;
    color: #ffffff;
}
.btn-producto {
    border: 2px solid #caa924;
    background-color: #f5c304;
    color: #ffffff;
}
.btn-producto:hover {
    border: 2px solid #caa924;
    background-color: #f5c304;
    color: #ffffff;
}

.title-section {
    letter-spacing: 1px;
}

.full-width-hr {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top: 2px solid #33312b;
}
.full-width-bg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.borde-amarillo {
    border-left: 3px solid #caa924;
    border-right: 3px solid #caa924;
}